<!-- Contact -->
<div class="mb4">
  <h4 class="f3 b lh-title mb3 tc primary pt2">Drop us a line</h4>
  <div class="contact-form-card">

    <form name="contact" method="POST" data-netlify="true">
      <!-- Name -->
      <fieldset class="mb3">
        <input type="text" id="name" name="name" placeholder="Name" class="w-100">
        <label for="name">Name</label>
      </fieldset>
      <!-- Email -->
      <fieldset class="mb3">
        <input type="email" id="email" name="email" placeholder="Email" class="w-100">
        <label for="email">Email</label>
      </fieldset>
      <!-- Message -->
      <fieldset class="mb3">
        <textarea id="message" name="message" placeholder="Your message" rows="6" cols="80" class="w-100"></textarea>
        <label for="message">Your message</label>
      </fieldset>
      <!-- Button -->
      <div class="tc">
        <button type="submit" class="btn w-100 raise">Submit</button>
      </div>
    </form>
  </div>
</div>
