<form
  action="https://docs.google.com/forms/d/e/1FAIpQLScEH53GQJQldQ55y7TfUMnzHPFfIwh8b66VB6l_lgyeLKgUig/formResponse"
  method="POST"
  target="hidden_iframe"
  onsubmit="handleNewsletterSubmit(this)"
  class="flex-ns mb3"
  id="newsletter-form"
>

  <fieldset class="flex-auto mb2 mb0-ns mr2-ns" name="newsletter">
    <input type="email" name="entry.1953714830" id="newsletter-email" placeholder="Your email" class="w-100" required>
    <label for="newsletter-email">Your email</label>
  </fieldset>

  <button class="btn mb3 w-100 w-auto-ns mb0-ns raise" type="submit">Submit</button>

</form>

<iframe name="hidden_iframe" id="hidden_iframe" style="display:none;"></iframe>

<script>
function handleNewsletterSubmit(form) {
  const email = form.querySelector('#newsletter-email');
  setTimeout(function() {
    email.value = '';
    alert('Thank you for subscribing!');
  }, 500);
}
</script>
