<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">
  {{ partial "head" . }}
  <body class="sans-serif">

    <a href="#main-content" class="skip-link">Skip to main content</a>

    {{ block "header" . }}{{ partial "nav" . }}{{end}}

    <!-- Cart Awning -->
    <div class="cart-awning">
      <div class="awning-stripes">
        <div class="scalloped-edge"></div>
      </div>
    </div>

    <main id="main-content">
      {{ block "main" . }}{{ end }}
    </main>

    {{ block "footer" . }}{{ partial "footer" . }}{{end}}

    {{ $script := .Site.Data.webpack.main }}
    {{ with $script.js }}
      <script src="{{ relURL . }}"></script>
    {{ end }}
  </body>
</html>
