{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle "kerned" true "bgLeftMobile" true) }}

{{ partial "short-text" .Params.blurb}}

{{ partial "info-cards" .Params.info_cards }}

{{ partial "2-up" .Params }}

{{ partial "text-and-image" (dict "heading" .Params.values.heading "text" .Params.values.text "image" .Params.values.image "buttonText" "Read more" "buttonLink" "/values") }}

{{ partial "image-and-text" (dict "heading" .Params.story.heading "text" .Params.story.text "image" .Params.story.image) }}

{{ with .Params.testimonials }}
<div class="bg-light-blue pt4 pb5">
  <div class="ph3 mw7 center">
    <h2 class="f2 b lh-title mb3">What our customers&nbsp;say</h2>
    <div class="flex-ns flex-wrap pb3">
      {{ range . }}
        {{ partial "blockquote" . }}
      {{ end }}
    </div>
  </div>
</div>
{{ end }}

{{ partial "blog" . }}

{{ end }}
